*.py[cod]

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64
__pycache__

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# SQLite databases
*.sqlite

# Virtual environment
.venv*
.env
.vscode
envvars.txt
heroku_configvars.txt
gitlog.txt
#migrations_8h
#migrations_8d
#migrations_development
#migrations_kehitys_8h
migrations_*
commitit*