.label-button {
    border:2px solid #000;
    background-color:#eee;
    padding:1px 5px;
    } 
.td-keskitetty {text-align: center;}
.invalid-feedback,.help-block{
    color:red;
    display:inline-block;
    font-size:1rem;
}
.btn-close {float:right;}
.btn-default {border:1px solid grey;}
.btn {margin-top:10px;}
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    }
  
.container {flex:1;}

footer {
    margin:0 auto;
    padding:10px;
  }

